*.o
*.dylib
*.swp
.DS_Store
.idea/
core*
debug
release
build
deps
src/c/toml.c
src/c/thpool.c
src/c/logging.c
src/c/scheduler.c
include/thpool.h
include/edgex/csdk-defs.h
include/edgex/toml.h
include/iot/logging.h
include/iot/scheduler.h
*~
TAGS
test_results/
tests/csdk/
