[Writable]
  LogLevel = 'DEBUG'
  [Writable.Device]
    DataTransform = false
    MaxCmdOps = 128
    MaxCmdResultLen = 256


[Service]
  Port = 49999
  Timeout = 5000
  ConnectRetries = 10
  Labels = [ 'Gyro' ]
  StartupMsg = 'Example gyro device service started'
  CheckInterval = '10s'

[Clients]
  [Clients.edgex-core-data]
    Host = 'localhost'
    Port = 48080

  [Clients.edgex-core-metadata]
    Host = 'localhost'
    Port = 48081

[[DeviceList]]
  Name = 'Gyro'
  Profile = 'Example-Gyro'
  Description = 'An Example Gyro Device'
  [DeviceList.Protocols]
    [DeviceList.Protocols.Gyro]
