[Writable]
  LogLevel = "DEBUG"
  [Writable.Device]
    DataTransform = true
    MaxCmdOps = 128
    [Writable.Device.Discovery]
      Enabled = true
      Interval = 10

[Service]
  Port = 59999
  RequestTimeout = "5s"
  StartupMsg = "Template device started"
  HealthCheckInterval = "10s"

[Clients]
  [Clients.core-data]
    Host = "localhost"
    Port = 59880

  [Clients.core-metadata]
    Host = "localhost"
    Port = 59881

[Driver]
  TestParam1 = "Hello"
  TestParam2 = "World"

[Device]
  Labels = [ "Template" ]
  ProfilesDir = "res/profiles"
  DevicesDir = "res/devices"
